<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>排行榜</title>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/index.css">
   <link rel="stylesheet" href="/css/piclist.css">
</head> 
<body>
<%-include header%>
  <div class="public">
	  <article class="article fl">	
	     <h1 class="title_h1"><span class="glyphicon glyphicon-tags"></span>人工智能排行榜</h1>
	  		<div class="article_list">
	  		<ul>
	  			<%if(dataStr.smart){%>
	  			 <%- dataStr.smart%>
	  			<%}else{%>
	  			  	<ul style="margin-top: 40px;">
	  			  		<li class="text-center">
	  			  			<img src="/images/datalose.png" alt="" style="width: 100px;height: 100px">
	  			  		</li>
	  			  		<li ><h4 class="text-center" style="color: #bfbfbf;">数据丢失</h4></li>
	  			  	</ul>
	  			  <%}%>
	  		</ul>
	  		</div>
	  		 <h1 class="title_h1"><span class="glyphicon glyphicon-tags"></span>云计算/大数据排行榜</h1>
	  		<div class="article_list">
	  		<ul>
	  			<%if(dataStr.bigData){%>
	  			 <%- dataStr.bigData%>
	  			<%}else{%>
	  			  	<ul style="margin-top: 40px;">
	  			  		<li class="text-center">
	  			  			<img src="/images/datalose.png" alt="" style="width: 100px;height: 100px">
	  			  		</li>
	  			  		<li ><h4 class="text-center" style="color: #bfbfbf;">数据丢失</h4></li>
	  			  	</ul>
	  			  <%}%>
	  		</ul>
	  		</div>
	  		<div class="border_solid"></div>
	  		 <h1 class="title_h1"><span class="glyphicon glyphicon-tags"></span>游戏开发排行榜</h1>
	  		<div class="article_list">
	  		<ul>
	  			<%if(dataStr.game){%>
	  			 <%- dataStr.game%>
	  			<%}else{%>
	  			  	<ul style="margin-top: 40px;">
	  			  		<li class="text-center">
	  			  			<img src="/images/datalose.png" alt="" style="width: 100px;height: 100px">
	  			  		</li>
	  			  		<li ><h4 class="text-center" style="color: #bfbfbf;">数据丢失</h4></li>
	  			  	</ul>
	  			  <%}%>
	  		</ul>
	  		</div>
	  		 <h1 class="title_h1"><span class="glyphicon glyphicon-tags"></span>前端排行榜</h1>
	  		<div class="article_list">
	  		<ul>
	  			<%if(dataStr.qianDuan){%>
	  			 <%- dataStr.qianDaun%>
	  			<%}else{%>
	  			  	<ul style="margin-top: 40px;">
	  			  		<li class="text-center">
	  			  			<img src="/images/datalose.png" alt="" style="width: 100px;height: 100px">
	  			  		</li>
	  			  		<li ><h4 class="text-center" style="color: #bfbfbf;">数据丢失</h4></li>
	  			  	</ul>
	  			  <%}%>
	  		</ul>
	  		</div>
	  		<%-include footer%>
	  </article>
	  <aside class="aside fr">
	  <div class="aside_list ">
	  <div><img src="/images/paihang.jpg" alt="" style="width: 770px; height: 300px; margin-top: 20px;"></div>
	  		<h1 class="title_h1"><span class="glyphicon glyphicon-fire"></span>2018年排行榜</h1>
	  		<ul>
	  			<%if(dataStr.rankingsData){%>
	  			 <%- dataStr.rankingsData%>
	  			<%}else{%>
	  			  	<ul style="margin-top: 40px;">
	  			  		<li class="text-center dataErr">
	  			  			<img src="/images/datalose.png" alt="" style="width: 100px;height: 100px">
	  			  		</li>
	  			  		<li class="dataErr"><h4 class="text-center" style="color: #bfbfbf;">数据丢失</h4></li>
	  			  	</ul>
	  			  <%}%>
	  		</ul>
	  	</div>
	  </aside>
  </div>

</body>
	<script type="text/javascript" src="/js/jQuery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/idangerous.swiper.js"></script> 
    <script src="/js/menu.js"></script>
</html>